
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>

<body>
    <h1>Inicio</h1>
    <br><br>
    <h2>
        <a href="/inversionista">Inversionista</a>
    </h2>
    <br><br>
    <h2>
        <a href="/emprendedor">Emprendedor</a>
    </h2>
    <br><Br>
    <h2>
        <a href="/productos">Productos</a>
    </h2>
    <br><br>
    <h2>
        <a href="/fundadores">Fundadores</a>
    </h2>
    <br><br>
    <h2>
        <a href="/emprendimiento">Emprendimiento</a>
    </h2>
    <br><br>
    <h2>
        <a href="/categoria">Categoria</a>
    </h2>
</body>

</html>